/* CSS Document */
.list_art_categs {
text-decoration:none;
color:#000000;
background-color:;
}
.list_art_categs_hover {
text-decoration:none;
color:#000000;
background-color:#0066CC;
}
.insertion{
text-align:right;
display:none;
}
.insertion_hover{
text-align:right;
cursor:pointer;
}

.list_art_categs a {
text-decoration:none;
color:#000000;
}
.list_art_categs_hover a {
text-decoration:none;
color:#FFFFFF;
}



/*caracteristiques et grop de caract*/

.caract_table {
background-color:#cccccc;
border:1px solid #707070;
width:99%;
}

/*import de taxes*/

.import_table {
background-color:#cccccc;
border:1px solid #707070;
width:96%;
}

/* tableau des tarifs*/

.tarif_table {
width:100%;
border:1px solid #FFFFFF;
background-color:#cccccc;
text-align:center;
}

/* assitant des tarifs*/

.assistant_tarif_table {
width:560px; 
height:352px;
padding:10px;
position: absolute; 
top:50px;
left:50px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#cccccc;
-moz-border-radius:10px;
border-radius:10px;
}

.assistant_tarif_iframe {
width:588px; 
height:378px;
position: absolute; 
top:50px;
left:50px;
z-index:849;
display:none;
filter:alpha(opacity=0);
}

.assist_titre {
text-align: center;
font:1em;
color:#000000;
font-weight:bolder;
}

.assist_labelled_bold {
color:#000000;
font-weight:bolder;
}

.assistant_input {
margin:0;
border:1px solid #cccccc;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}
.alerte_assistant_input {
margin:0;
border:1px solid #cccccc;
background-color:#FF0000;
font: 0.9em Arial, Helvetica, sans-serif;
}
select.assistant_input {
font: 1em Arial, Helvetica, sans-serif;
}
/* assitant des calcul_commission bancaire TPE TPV*/

.cal_com {
width:490px; 
height:182px;
padding:10px;
position: absolute; 
top:50px;
left:50px;
z-index:850;
border:1px ridge #707070;
background-color:#cccccc;
-moz-border-radius:10px;
border-radius:10px;
}
/* assitant des commissions commerciaux*/

.assistant_comm_commission_table {
width:560px; 
height:252px;
padding:10px;
position: absolute; 
top:50px;
left:50px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#cccccc;
-moz-border-radius:10px;
border-radius:10px;
}

.assistant_comm_commission_iframe {
width:588px; 
height:278px;
position: absolute; 
top:50px;
left:50px;
z-index:849;
display:none;
filter:alpha(opacity=0);
}
