/* minimoteur de recherche en pop up*/

.mini_moteur {
width:560px; 
height:372px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}
.mini_moteur_compte_compta {
width:560px; 
height:432px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}
.mini_moteur_doc_type {
width:560px; 
height:432px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}
.mini_moteur_doc_type_lsize {
width:800px; 
height:400px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}
.compte_compta_verify {
width:500px; 
height:232px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:850;
display:none;
border:1px ridge #9dabb3;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
z-index:1100;
}



.mini_moteur_iframe {
width:620px; 
height:450px;
position: absolute; 
top:0px;
left:0px;
z-index:849;
display:none;
filter:alpha(opacity=0);
}

.corps_mini_moteur {
width:100%;
background-color:#eeeeee;
border:1px solid #707070;
margin:0;
}

.caract_recherche {
display:block;
width:100%;
}

.caract_simple {
padding-left:10px;
padding-right:10px;
}

.caract_simple li {
width:250px;
padding:3px;
margin:3px;
display:inline;
}

.carac_plus_moins {
color:#000000;
font-size:0.9em;
font-weight:bolder;
text-decoration:none;
}

.search_lib_carac {
width:110px;
color:#000000;
}