/* Style pour la page button résultats commerciaux */
body{margin:5px;}
img{border:0px;}
.choix_commercial{background-color:#FFF;border:1px solid #c2cfd7;display:block;height:80px;left:0px;margin:0px;overflow:auto;padding:0px;position:relative;width:300px;z-index:250;}
ul.complete_commercial{list-style-type:none;margin:0px;padding:0px;text-align:left;}
li.complete_commercial{cursor:pointer;display:block;height:18px;list-style-type:none;margin:0;padding:2px;}
li.complete_commercial_hover{background-color:#c2cfd7;cursor:pointer;display:block;height:18px;list-style-type:none;margin:0;padding:2px;}
input.classinput_xsize{background-color:#FFF;border:1px solid #809eb6;font:0.9em Verdana,Arial,Helvetica,sans-serif;margin:0;width:99%;}