# Ignore les logs d'erreurs générés par l'application
error.log.php

# Ignore les fichiers backups sql créés par l'application
# c-à-d ignore tous les fichiers sql
*.sql

# Sauf le fichier sql d'install d'origine
!/src/sql*/*.sql