
.alerteform_xsize {
background-color:#FF0000;
width:99%;
}
select.alerteform_xsize {
background-color:#FF0000;
width:99%;
}
.alerteform_lsize {
background-color:#FF0000;
width:82%;
}

.classinput_xsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
width:99%;
}
.classinput_xsize_disabled {
margin:0;
border:1px solid #aaaaaa;
background-color:#999999;
width:99%;
}

/*select sur champs*/


.classinput_xsize:focus {
margin:0;
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
.classinput_psize:focus {
margin:0;
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
.classinput_lsize:focus {
margin:0;
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
.classinput_hsize:focus {
margin:0;
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
.classinput_nsize:focus {
margin:0;
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
input:focus {
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
textarea:focus {
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
select:focus {
border:1px solid #aaaaaa;
background-color: #FFFFCC;
}
textarea {
border:1px solid #aaaaaa;
background-color: #FFFFFF;
}
select {
border:1px solid #aaaaaa;
background-color: #FFFFFF;
}


input.classinput_xsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}

input.classinput_lsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:82%;
}

textarea.classinput_xsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}

textarea.classinput_psize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
height:100px;
}

select.classinput_xsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}
select.classinput_lsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:90%;
}
select.alerteform_lsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FF0000;
font: 0.9em Arial, Helvetica, sans-serif;
width:90%;
}
/*
champ de formulaire à 50% et champs erreurs de saisie 50% 
*/


.alerteform_hsize {
background-color:#FF0000;
width:49%;
}
select.alerteform_hsize {
background-color:#FF0000;
width:49%;
}

input.classinput_hsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:49%;
}

textarea.classinput_hsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:49%;
}

select.classinput_hsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 1em Arial, Helvetica, sans-serif;
width:49%;
}
/*
champ de formulaire sans largeur et champs erreurs 
*/


.alerteform_nsize {
background-color:#FF0000;
}
select.alerteform_nsize {
background-color:#FF0000;
}

input.classinput_nsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}

textarea.classinput_nsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}

select.classinput_nsize {
margin:0;
border:1px solid #aaaaaa;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}




/*formulaire de recherche*/
#recherche span.labelled {
color:#000000;
display:block;
margin-top:4px;
}

#recherche td {
text-align: left;
}

.corps_moteur {
background-color:#eeeeee;
border:1px solid #707070;
margin:0;
}


#resultat {
margin:5px 0px;

}

#affresult {
margin:3px 0px;
padding:0;
text-align:center;
height: 18px;
border-bottom:2px solid #dddddd;
background-color:#EEEEEE;
}
#nvbar a{
padding:3px 0 0 0 ;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
#nvbar a.off{
font-weight:bold;
text-decoration:none;
color:#000000;
}

#tableresult {
width:100%;
}
.mt_size_optimise {
height: 0%;
}

#tableresult a {
text-decoration:none;
color:#000000
}

#tableresult td {
color:#000000;
}

.colorise0 {
background-color:#eeeeee;
}
.colorise0 td {
font-weight: bolder;
}
.colorise1 {
line-height:20px;
background-color:#FFFFFF;
}
.colorise1:hover {
background-color: #aaaaaa;
}
.colorise1 td{
font:0.9em Arial, Helvetica, sans-serif;
}
.colorise2 {
line-height:20px;
background-color:#eeeeee;
}
.colorise2:hover {
background-color: #aaaaaa;
}
.colorise2 td{
font:0.9em Arial, Helvetica, sans-serif;
}


/* definition de tag */


.labelled_text {
color:#000000;
font:0.9em Arial, Helvetica, sans-serif;
}
.labelled_bold {
color:#000000;
font:0.9em bolder Arial, Helvetica, sans-serif;
}

.labelled {
color:#000000;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 115px;
display:block;
padding: 0px;
margin-top:0px;
}


.labelled_right {
color:#000000;
text-align: right;
font:0.9em Arial, Helvetica, sans-serif;
width: 115px;
display:block;
padding-right:5px;
margin-top:0px;
}

.labelled_ralonger {
color:#000000;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 130px;
display:block;
padding: 0px;
margin-top:0px;
}

/* menu horizontaux principaux*/
.menu {
margin:3px 0px;
padding:0;
list-style-type:none;
text-align:left;
height: 18px;
border-bottom:2px solid #cccccc;
background-color:#EEEEEE;
}
.menu li {
display:inline;
float:left;
}
.menu_unselect {
text-decoration:none;
color:#000000;
background-color:#EEEEEE;
display:block;
padding:0 10px;
text-align:center;
line-height:18px;
}
.menu_select {
text-decoration:none;
font-weight:bold;
color:#000000;
background-color:#cccccc;
padding:0 10px;
display:block;
text-align:center;
line-height:18px;
}
/* menu horizontaux secondaires*/
.menu_sec {
margin:3px 0px;
padding:0;
list-style-type:none;
text-align:left;
height: 18px;
border-bottom:2px solid #aaaaaa;
background-color:#999999;
}
.menu_sec li {
display:inline;
float:left;
}
.menu_sec_unselect {
text-decoration:none;
color:#000000;
background-color:#999999;
display:block;
padding:0 10px;
text-align:center;
line-height:18px;
}
.menu_sec_select {
text-decoration:none;
color:#000000;
background-color:#aaaaaa;
padding:0 10px;
display:block;
text-align:center;
line-height:18px;
}

/* contact de l'annuaire */


.contactview_corps {
background-color:#eeeeee;
border:1px solid #707070;
margin:0;
}

.infotable_bg {
padding:8px; width:330px; background-color:#cccccc;
}

.infotable {
background-color:#eeeeee;
border:1px solid #707070;
}
.infotable_form {
margin:3px;
background-color:#cccccc;
border:1px solid #707070;
}


.minimizetable {
width: 100%;
}
.minimizetable table {
width:100%;
}
.minimizetable td {
vertical-align:top;
}
.max96pc {
width:96%;
}
td.ctpc {
width:50%;
}
td.xxxpc {
width:30%;
}

table.size_strict {
width:100%;
}

#imgsizeform {
float:left;
height:1px;
width:100%;
vertical-align: top;
}

td.size_strict {
width:120px;
}

.smallheight {
font-size:1px;
line-height:1px;
height:1px;
}

/* simule d'un champ*/
.simule_champs {
margin:0;
display:block;
border:1px solid #cccccc;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:100%;
height:18px;
}
.simule_champs_alerte {
margin:0;
display:block;
border:1px solid #cccccc;
background-color:#FF0000;
font: 0.9em Arial, Helvetica, sans-serif;
width:100%;
height:18px;
}

.simule_champs a {
display:block;
color:#000000;
text-decoration: none;
}


.simule_champ_content{
}
.simule_champ_content tr {
height:18px;
}
.simule_champ_content td {
line-height:18px;
height:18px;
color:#000000;
text-decoration: none;
font: Arial, Helvetica, sans-serif;
}

/* edition d'une operation*/

.edition_operation {
padding:5px;
position: absolute; 
width: 650px;
height:300px;
z-index:852;
border:1px ridge #707070;
background-color:#cccccc;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.edition_operation_iframe {
position: absolute; 
width: 750px;
height:350px;
z-index:851;
filter:alpha(opacity=0);
}

/**/


.grey_corps {
padding:5px;
background-color:#eeeeee;
border:1px solid #707070;
margin:0;
}

.white_corps {
background-color:#FFFFFF;
border:1px solid #000000;
margin:0;
padding:3px;
font:14px Arial, Helvetica, sans-serif;
font-weight:bolder;
}

.ico_bt {
padding-right:20px;
}


/*referencement*/

.edition_referencement {
width:560px; 
height:410px;
padding:10px;
position: absolute; 
top:50px;
left:50px;
z-index:850;
display:none;
border:1px ridge #707070;
background-color:#eeeeee;
-moz-border-radius:10px;
border-radius:10px;
}

