
.alerteform_xsize {
background-color:#FF0000;
width:99%;
}
select.alerteform_xsize {
background-color:#FF0000;
width:99%;
}
.alerteform_lsize {
background-color:#FF0000;
width:82%;
}

.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
width:99%;
}

/*select sur champs*/


.classinput_xsize:focus {
margin:0;
border:1px solid #809eb6;
background-color: #FFFFCC;
}
.classinput_lsize:focus {
margin:0;
border:1px solid #809eb6;
background-color: #FFFFCC;
}
.classinput_hsize:focus {
margin:0;
border:1px solid #809eb6;
background-color: #FFFFCC;
}
.classinput_nsize:focus {
margin:0;
border:1px solid #809eb6;
background-color: #FFFFCC;
}
input:focus {
border:1px solid #809eb6;
background-color: #FFFFCC;
}
textarea:focus {
border:1px solid #809eb6;
background-color: #FFFFCC;
}
select:focus {
border:1px solid #809eb6;
background-color: #FFFFCC;
}

textarea {
border:1px solid #809eb6;
background-color: #FFFFFF;
}
select {
border:1px solid #809eb6;
background-color: #FFFFFF;
}

input.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}

input.classinput_lsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:82%;
}

textarea.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}
select.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}
select.classinput_lsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:90%;
}
/*
champ de formulaire à 50% et champs erreurs de saisie 50% 
*/


.alerteform_hsize {
background-color:#FF0000;
width:49%;
}
select.alerteform_hsize {
background-color:#FF0000;
width:49%;
}

input.classinput_hsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:49%;
}

textarea.classinput_hsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:49%;
}

select.classinput_hsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 1em Arial, Helvetica, sans-serif;
width:49%;
}
/*
champ de formulaire sans largeur et champs erreurs 
*/


.alerteform_nsize {
background-color:#FF0000;
}
select.alerteform_nsize {
background-color:#FF0000;
}

input.classinput_nsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}

textarea.classinput_nsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}

select.classinput_nsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}




/*formulaire de recherche*/
#recherche span.labelled {
color:#002673;
display:block;
margin-top:4px;
}

#recherche td {
text-align: left;
}

.corps_moteur {
background-color:#dbe8f0;
border:1px solid #FFFFFF;
-moz-border-radius:5px;
border-radius:5px;
margin:0;
}


#resultat {
margin:5px 0px;

}

#affresult {
margin:3px 0px;
padding:0;
text-align:center;
height: 18px;
border-bottom:2px solid #dbe8f0;
background-color:#EEEEEE;
}
#nvbar a{
padding:3px 0 0 0 ;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
#nvbar a.off{
font-weight:bold;
text-decoration:none;
color:#000000;
}

#tableresult {
width:100%
}
.mt_size_optimise {
height: 0%;
}
#tableresult a {
text-decoration:none;
color:#000000
}

#tableresult td {
color:#000000;
}

.colorise0 {
background-color:#dbe8f0;
}
.colorise0 td {
font-weight: bolder;
}
.colorise1 {
line-height:20px;
background-color:#FFFFFF;
}
.colorise1:hover {
background-color: #94B9D8;
}
.colorise1 td{
font:0.9em Arial, Helvetica, sans-serif;
}
.colorise2 {
line-height:20px;
background-color:#dbe8f0;
}
.colorise2:hover {
background-color: #94B9D8;
}
.colorise2 td{
font:0.9em Arial, Helvetica, sans-serif;
}
.colorise3 {
line-height:20px;
background-color:#CCCCCC;
}
.colorise3:hover {
background-color: #94B9D8;
}
.colorise3 td{
font:0.9em Arial, Helvetica, sans-serif;
}


/* definition de tag */


.labelled_text {
color:#002673;
font:0.9em Arial, Helvetica, sans-serif;
}
.labelled_bold {
color:#002673;
font:0.9em bolder Arial, Helvetica, sans-serif;
font-weight:bolder;
}

.labelled {
color:#002673;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 115px;
display:block;
padding: 0px;
margin-top:0px;
}


.labelled_right {
color:#002673;
text-align: right;
font:0.9em Arial, Helvetica, sans-serif;
width: 115px;
display:block;
padding-right:5px;
margin-top:0px;
}

.labelled_ralonger {
color:#002673;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 130px;
display:block;
padding: 0px;
margin-top:0px;
}

/* menu horizontaux principaux*/
.menu {
margin:3px 0px;
padding:0;
list-style-type:none;
text-align:left;
height: 18px;
border-bottom:2px solid #dbe8f0;
background-color:#FFFFFF;
}
.menu li {
display:inline;
float:left;
}
.menu_unselect {
text-decoration:none;
color:#002673;
background-color:#FFFFFF;
display:block;
padding:0 10px;
text-align:center;
line-height:18px;
}
.menu_unselect:hover {
background-color: #EAF1FF;
}
.hymenu_unselect {
text-decoration:none;
color:#002673;
background-color:#FFFFFF;
display:block;
padding:0 10px;
line-height:18px;
}
.hymenu_unselect:hover {
background-color: #EAF1FF;
}
.menu_select {
text-decoration:none;
font-weight:bold;
color:#002673;
background-color:#dbe8f0;
padding:0 10px;
display:block;
text-align:center;
line-height:18px;
}
/* menu horizontaux secondaires*/
.menu_sec {
margin:3px 0px;
padding:0;
list-style-type:none;
text-align:left;
height: 18px;
border-bottom:2px solid #c2cfd7;
background-color:#afc5d2;

color:#000000;
background-color:#FFFFFF;
border:1px solid #FFFFFF;
-moz-border-radius:4px;
border-radius:4px;
}
.menu_sec li {
display:inline;
float:left;
}
.menu_sec_unselect {
text-decoration:none;
color:#000000;
background-color:#FFFFFF;
display:block;
padding:0 10px;
text-align:center;
line-height:18px;
-moz-border-radius:4px;
border-radius:4px;
}
.menu_sec_select {
text-decoration:none;
color:#000000;
background-color:#e5eef5;
padding:0 10px;
display:block;
text-align:center;
line-height:18px;
}

/* menu horizontaux secondaires*/
.menu_tb {
margin:3px 0px;
padding-right:25px;
padding-left:25px;
list-style-type:none;
text-align:left;
height: 18px;
color:#000000;
background-color:#e5eef5;
border:1px solid #e5eef5;
-moz-border-radius:8px;
border-radius:8px;
text-align:center;
}
.menu_tb li {
display:inline;
float:left;
}
.menu_tb_unselect {
text-decoration:none;
color:#000000;
background-color:#e5eef5;
display:block;
padding:0 10px;
text-align:center;
font-weight:normal;
line-height:18px;
}
.menu_tb_select {
text-decoration:none;
color:#000000;
background-color: #e5eef5;
padding:0 10px;
display:block;
font-weight: bolder;
text-align:center;
line-height:18px;
}
/* contact de l'annuaire */


.contactview_corps {
background-color:#dbe8f0;
border:1px solid #FFFFFF;
-moz-border-radius:5px;
border-radius:5px;
margin:0;
}

.infotable_bg {
padding:8px; width:330px; background-color:#afc5d2;
}

.infotable {
color:#334b74;
background-color:#e5eef5;
border:1px solid #FFFFFF;
-moz-border-radius:8px;
border-radius:8px;
}
.infotable_form {
margin:3px;
color:#334b74;
background-color:#e5eef5;
border:1px solid #FFFFFF;
-moz-border-radius:8px;
border-radius:8px;
}


.roundedtable {
color:#334b74;
background-color:#e5eef5;
border:1px solid #FFFFFF;
-moz-border-radius:8px;
border-radius:8px;
width:100%;
padding:3px;
}
.roundedtable_over {
color:#334b74;
background-color:#A5C4DC;
border:1px solid #CCCCCC;
-moz-border-radius:8px;
border-radius:8px;
width:100%;
padding:3px;
}
.minimizetable {
width: 100%;
}
.minimizetable table {
width:100%;
}
.minimizetable td {
vertical-align:top;
}
.max96pc {
width:96%;
}
td.ctpc {
width:50%;
}
td.xxxpc {
width:30%;
}

table.size_strict {
width:100%;
}

#imgsizeform {
float:left;
height:1px;
width:100%;
vertical-align: top;
}

td.size_strict {
width:120px;
}

.smallheight {
font-size:1px;
line-height:1px;
height:1px;
}

/* simule d'un champ*/
.simule_champs {
margin:0;
display:block;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:100%;
height:18px;
}
.simule_champs_alerte {
margin:0;
display:block;
border:1px solid #809eb6;
background-color:#FF0000;
font: 0.9em Arial, Helvetica, sans-serif;
width:100%;
height:18px;
}

.simule_champs a {
display:block;
color:#000000;
text-decoration: none;
cursor: default;
}


.simule_champ_content{
}
.simule_champ_content tr {
height:18px;
}
.simule_champ_content td {
line-height:18px;
height:18px;
color:#000000;
text-decoration: none;
font: Arial, Helvetica, sans-serif;
}
.choix_etat {
text-decoration:none;
padding-left:10px;
padding-right:10px;
cursor:pointer;
display:block;
}
.choix_etat:hover{
background-color:#CCCCCC;
padding-left:10px;
padding-right:10px;
cursor:pointer;
display:block;

}


/* edition d'une tache*/

.edition_tache {
padding:5px;
position: absolute; 
width: 850px;
height:400px;
z-index:852;
border:1px ridge #9dabb3;
background-color:#c2cfd7;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.edition_tache_iframe {
position: absolute; 
width: 850px;
height:400px;
z-index:851;
filter:alpha(opacity=0);

}
/* edition d'un reglement*/

.edition_reglement {
padding:5px;
position: absolute; 
width: 850px;
height:400px;
z-index:852;
border:1px ridge #9dabb3;
background-color:#c2cfd7;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.edition_reglement_iframe {
position: absolute; 
width: 850px;
height:400px;
z-index:851;
filter:alpha(opacity=0);
}

/* edition d'une operation*/

.edition_operation {
padding:5px;
position: absolute; 
width: 650px;
height:300px;
z-index:852;
border:1px ridge #707070;
background-color:#EEEEEE;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.edition_operation_iframe {
position: absolute; 
width: 750px;
height:350px;
z-index:851;
filter:alpha(opacity=0);
}

/* edition d'une rapprochement*/

.edition_rapprochement {
padding:5px;
position: absolute; 
width: 750px;
height:500px;
z-index:852;
border:1px ridge #707070;
background-color:#EEEEEE;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

/* edition d'un événement*/

.edition_event {
padding:5px;
position: absolute; 
width: 650px;
height:300px;
z-index:852;
border:1px ridge #707070;
background-color:#EEEEEE;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

/* edition d'un abonnement*/

.edition_abonnement {
padding:5px;
position: absolute; 
width: 650px;
height:400px;
z-index:852;
border:1px ridge #9dabb3;
background-color:#c2cfd7;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}
/* edition d'une consommation*/

.edition_consommation {
padding:5px;
position: absolute; 
width: 450px;
height:400px;
z-index:852;
border:1px ridge #9dabb3;
background-color:#c2cfd7;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.aff_CA_analyse {
margin:3px 0px;
padding-right:25px;
padding-left:25px;
list-style-type:none;
text-align:left;
height: 28px;
line-height: 28px;
color:#000000;
background-color:#e5eef5;
border:1px solid #e5eef5;
-moz-border-radius:8px;
border-radius:8px;
}

/* edition d'un courrier*/
.courrier_choix_type {
padding:5px;
position: absolute; 
width: 800px;
height:470px;
z-index:852;
border:1px ridge #9dabb3;
background-color:white;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

/* options d'un courrier*/
.courrier_options {
padding:5px;
position: absolute; 
width: 800px;
height:470px;
z-index:852;
border:1px ridge #9dabb3;
background-color:white;
-moz-border-radius:10px;
border-radius:10px;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}


  /* ****************** */
 /* appercu_calendrier */
/* ****************** */
.mini_calendrier_Jsemaine {
	text-align: center;
	color: #3d3c48;
	font-size: 8pt;
	font-weight: bolder;
}

.mini_calendrier_weekend {
	text-align: center;
/*	color: #708090;*/
	font-size: 8pt;
	font-weight: bold;
}

.mini_calendrier_now_chiffre{
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: white;
	background-color	: #eff4fa;
	border						: 1px solid;
	border-color			: rgb(230,244,249);
	background-image	: url('../../../../interface_agenda/themes/agenda_fr/images/carre_vert.gif');
	background-repeat	: repeat-x;

}

.mini_calendrier_Jsemaine_chiffre {
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size 				: 9pt;
	font-weight 			: bold;
	color							: #3d3c48;
	background-color	: #eff4fa;
	border						: 1px solid;
	border-color			: rgb(230,244,249);

}

.mini_calendrier_Jsemaine_chiffre_hors_mois {
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: #778899;
	background-color	: #eff4fa;
	border						: 1px solid;
	border-color			: rgb(230,244,249);

}

.mini_calendrier_weekend_chiffre{
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: #3d3c48;
	background-color	: #eff4fa;
	border						: 1px solid;
	border-color			: rgb(230,244,249);

}

.mini_calendrier_weekend_chiffre_hors_mois{
	cursor						:	pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: #778899;
	background-color	: #eff4fa;
	border						: 1px solid;
	border-color			: rgb(230,244,249);

}

.mini_calendrier_mois
{
	color: #8090b1;
	font-size : 10pt;
	font-weight : bolder;
}


.appercu_calendrier {
padding:5px;
position: absolute;
top:50px;
left:50px;
z-index:852;
display:block;
border:2px ridge #8090b1;
background-color:#eff4fa;
/*background-color:rgb(230,244,249);*/
-moz-border-radius:10px;
border-radius:10px;
filter : alpha(opacity=7);
-moz-opacity : 1;
opacity : 0.95;
}

