	  /* ********** */
	 /* CSS CAISSE */
	/* ********** */


  /* ******************************* */
 /* caisse panneau afficher tickets */
/* ******************************* */
.liste_ticket_cell_ticket{
	width								: 184px;
	min-width						: 184px;
	max-width						: 184px;
	background-color		: #eeeeee;
	-moz-border-radius	: 7px;
	padding							: 5px;
	border							: 2px solid #595a6c;
}

.liste_ticket_cell_vide{
	width								: 192px;
	min-width						: 192px;
	max-width						: 192px;
}

.liste_ticket_date_last_edit{
	text-align:left;
	font-weight:bold;
}

.liste_ticket_montant{
	text-align : left;
	font-weight : bold;
	font-size : 12pt;
}


.liste_ticket_pseudo{}

.liste_ticket_date_etat{
	font-size:8pt;
}



  /* ************************************** */
 /* caisse panneau recherche client result */
/* ************************************** */
.recherche_client_cell_client{
	width : 16%;
	background-color : #eeeeee;
	-moz-border-radius : 7px;
	padding : 5px;
	border : 2px solid #595a6c;
}

.recherche_client_ligne_1{
	font-size 	: 12pt;
	font-weight	: bold; 
}

.recherche_client_ligne_2{
	font-size 	: 12pt;
	font-weight	: bold; 
}

.recherche_client_ligne_3{

}



  /* ********************************** */
 /* caisse panneau recherche categorie */
/* ********************************** */
.recherche_categorie_lib{
	text-align 			: center;
	vertical-align 	: middle;
	font-size				: 11pt;
}
.recherche_sous_categorie_lib{
	text-align 			: center;
	vertical-align 	: middle;
	font-size				: 10pt;
}



  /* ******************************** */
 /* caisse panneau recherche article */
/* ******************************** */
.recherche_article_lib_short{
	background-image	: url(../images/bt_vide_unselected_b.gif);
	background-repeat	: repeat-x;
	text-align				: center;
	font-size					: 10pt;
	
	vertical-align		: middle;
}

.recherche_article_lib_long{
	background-image	: url(../images/bt_vide_unselected_b.gif);
	background-repeat	: repeat-x;
	text-align				: center;
	font-size					: 10pt;
}

.recherche_article_lib_long div{
	overflow					: hidden;
}




  /* ************* */
 /* custom pop up */
/* ************* */
.alert_pop_up_tab_custom {
	border						: 1px ridge #595a6c;
	background-color	: #eeeeee;
	-moz-border-radius: 10px;
	position					: absolute; 
	display						: none; 
	left							: 50%; 
	top								: 50%;
	padding						: 10px;
	width							: 420px;  
	margin-top				: -100px; 
	margin-left				: -220px; 
	z-index						: 1001;
}

#titre_alert_custom {
	line-height				: 20px;
	padding						: 0 10px;
	font							: 0.9em Verdana;
	height						: 20px;
	font-weight				: bolder;
	border-bottom			: 1px solid #000000;
}

#texte_alert_custom {
	padding					: 10px 10px;
	vertical-align	: middle;
	text-align			: center;
	font						: 0.9em Verdana;
}

#bouton_alert_custom {
	text-align			: center;
	padding					: 10px 10px;
	height					: 20px;
}



  /* ************************* */
 /* caisse panneau info client*/
/* ************************* */
.client_cell_info{
	border-left 				: 1px solid #707070;
	border-bottom 			: 1px solid #707070;
	border-top 					: 1px solid #707070; 
	-moz-border-radius	:7px 0px 0px 7px;
	-moz-user-select		:none;
	padding							:7px
}

.client_lignes_titre{
	vertical-align : middle;
	text-align : left;
	font-size: 12pt;
}

.client_lignes_contenu{
	vertical-align : middle;
	text-align : left;
	font-size: 12pt;
}

.client_tarif_titre{
	vertical-align : middle;
	text-align : left;
	font-size: 11pt;
}

.client_tarif_contenu{
	vertical-align : middle;
	text-align : left;
	font-size: 11pt;
}



  /* ********************* */
 /* panneau bas générique */
/* ********************* */
.panneau_bas{
	background-color		: #c8c8ce;
	min-height					: 290px;
	-moz-border-radius	: 10px 0px 10px 0px;
}

.panneau_bas_barre_titre{
	height 					: 33px;
	color 					: white;
}

.panneau_bas_barre_titre_left{
	width:8px;
	background-image		:	url(../images/fond_entete_left_bleu.png);
	background-repeat		: no-repeat;
	background-position	: top left;
}

.panneau_bas_barre_titre_coprs{
	text-align 					: left;
	vertical-align 			: middle;
	font-size						:	14pt;
	background-image		:	url(../images/fond_entete_bleu.gif);
	background-repeat		: no-repeat repeat-x;
	background-position	: top;
}

.panneau_bas_barre_titre_right{
	width:8px;
	background-image		:	url(../images/fond_entete_right_bleu.png);
	background-repeat		: no-repeat;
	background-position	: top right;
}

.panneau_bas_marge_left{
	width:8px;
}

.panneau_bas_marge_rights{
	width:8px;
}



  /* ***** */
 /* TOTAL */
/* ***** */
.total{
	-moz-border-radius	: 10px;
	background-color		: black;
	font-weight					: bold;
	font-size						: 20pt;
	font-family					: Arial;
	height							: 64px;
	padding-left				:	10px;
	padding-right				: 10px;  
}
.total td{
	color								: white;
	font-weight					: bold;
	font-size						: 20pt;
	font-family					: Arial;
	vertical-align			: middle;
}



  /* ****** */
 /* ticket */
/* ****** */
.ticket_titre{}
.ticket_titre tr{
	height	: 24px;
	color		:	white;
}
.ticket_titre td{
	background-image	: url(../images/fond_entete_rouge.gif);
	background-repeat	: no-repeat repeat-x;
}

#conteneur_TICKET{
	border							: 1px solid #e1e2e1;
	height							: 245px;
	overflow-y					: scroll;
	overflow-x					: hidden;
	background-image		: url(../images/fond_ticket.png);
	background-repeat		: no-repeat repeat-y;
}

#TICKET{}

#TICKET td{
	font-family					: Arial;
}

.ticket_ligne_selected{
	background-image		: url(../images/fond_ticket_selected.png);
	background-repeat		: repeat-x repeat-y;
}

.ticket_ligne_unselected{}

.ticket_cell_selected{
	font-weight: bolder;
}

.ticket_cell_unselected{}



  /* ********************************************* */
 /* panneau fonctionnalites courantes et avancees */
/* ********************************************* */
.panneau_fonctionnalites_bouton_active{
	width							: 141px;
	background-image	:	url(../images/bt_vide.gif);
	background-repeat	: no-repeat;
	vertical-align		: middle;
	cursor						: pointer;
	font-size					: 11pt;
}

.panneau_fonctionnalites_bouton_desactive{
	width							: 141px;
	background-image	:	url(../images/bt_vide.gif);
	background-repeat	: no-repeat;
	vertical-align		: middle;
	cursor						: pointer;
	font-size					: 11pt;
	color							:	#828282;
}




  /* *************** */
 /* panneau options */
/* *************** */
.panneau_options_grand_conteneur{
	position	:relative;
	width			:100%;
}

.panneau_options_conteneur{
	position	:absolute;
	z-index		:900;
	top				:0px;
	right			:0px;
	width			:200px;
}

.panneau_options_options{
	position						:	relative;
	left								: -30px;
	-moz-border-radius	: 7px 7px 7px 7px;
	border 							: 1px solid #878787;
	background-color		: #c8c8c8;
	width								: 230px;
	padding-top					: 10px;
	padding-bottom			: 10px; 
	padding-left				: 5px;
	padding-right				: 5px;
}



  /* ******************** */
 /* Panneau Encaissement */
/* ******************** */
.panneau_encaissement_moyents_de_paiement{
	width								: 143px;
	background-image		: url(../images/bt_vide.png);
	background-repeat		: no-repeat;
	vertical-align			: middle;
	text-align					: center;
	font-size						: 11pt; 
}

.panneau_encaissement_ligne_reglement_effectue_LIB{
		text-align			: left;
		vertical-align	: middle;
}

.panneau_encaissement_ligne_reglement_effectue_MONTANT{
		text-align			: right;
		vertical-align	: middle;
}

.panneau_encaissement_ligne_reglement_effectue_MONTANT input{
		text-align			: right;
		vertical-align	: middle;
}

.panneau_encaissement_ligne_reglement_effectue_MONAIE{
		text-align: left;
		vertical-align: middle;
}

.panneau_encaissement_ligne_reglement_effectue_LIB_selected{
		text-align			: left;
		vertical-align	: middle;
}

.panneau_encaissement_ligne_reglement_effectue_MONTANT_selected{
		text-align			: right;
		vertical-align	: middle;
		font-weight			: bolder;
}

.panneau_encaissement_ligne_reglement_effectue_MONAIE_selected{
		text-align			: left;
		vertical-align	: middle;
}


  /* ****** */
 /* Divers */
/* ****** */
.info_vendeur_et_date{
	font-size:9pt;
	vertical-align:middle
	
}

.input_rechercher_article{
	padding-left				: 7px;
	text-align					: left;
	border-color				: #707070;
	background-color		: white;
	height							: 24px;
	font-size						: 16pt;
	-moz-border-radius	: 7px;
}

.input_rechercher_client{
	padding-left				: 7px;
	text-align					: left;
	border-color				: #707070;
	background-color		: white;
	height							: 24px;
	font-size						: 16pt;
	-moz-border-radius	: 7px;
}


  /* ******************************* */
 /* Panneau Choix du point de vente */
/* ******************************* */
.panneau_choix_pt_de_vente_cell{
	width : 16%;
	background-color : #eeeeee;
	-moz-border-radius : 7px;
	padding : 5px;
	border : 2px solid #595a6c;
}

.panneau_choix_pt_de_vente_cell_pt_de_vente{}

.panneau_choix_pt_de_vente_cell_pt_de_vente td{
	vertical-align			: middle;
	text-align					: left;
}



  /* ************************** */
 /* Panneau Choix de la caisse */
/* ************************** */
.panneau_choix_caisse_cell{
	width 							: 16%;
	background-color 		: #eeeeee;
	-moz-border-radius 	: 7px;
	padding 						: 5px;
	border 							: 2px solid #595a6c;
	vertical-align			: middle;
	text-align					: center;
	font-size						: 11pt;
}

.popup_stats{
	border: 1px ridge #7e7e96;
	background-color: #c8c8ce;
	-moz-border-radius: 10px;
	width:600px;
	height:250px;
	position:absolute;
	top:50px;
	left:300px;
}

.popup_stats p{
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

.popup_stats #print{
	text-align:center;
	font-size:12px;
	cursor:pointer;
	-moz-border-radius: 5px;
	border: 1px ridge #7e7e96;
	width:200px;
	text-align:center;
	padding:5px 40px 5px 40px;
	margin-right:10px;
}

#print:hover{
	border: 1px ridge #000;
}

#tab_stats{
	font-weight:bold;
	background-color: #fff;
}

#tab_stats td{
	border:1px solid #7e7e96;
}

#stitre{
	color:#fff;
	background-color: #b6d162;
	-moz-border-radius: 5px;
	border:solid 1px #000;
	text-align:center;
	padding:5px 40px 5px 40px;
}

#close{
	-moz-border-radius: 5px;
	border: 1px ridge #7e7e96;
	width:200px;
	text-align:center;
	padding:5px 40px 5px 40px;
	cursor:pointer;
}

#close:hover{
	border: 1px ridge #000;
}

#ok{
	border:1px solid #7e7e96;
	padding:3px;
	cursor:pointer;
}

#ok:hover{
	border:1px solid #000;
}