/* CSS Document */

.document_box_color{
border:1px solid #FFFFFF;
background-color: #c2cfd7;
line-height:26px;
}

.document_box {
border:1px solid #FFFFFF;
background-color: #e5eef5;
-moz-border-radius:5px;
border-radius:5px;
}

.document_box_bottom_liaison {
background-color: #dbe8f0;
-moz-border-radius: 0px 0px 5px 5px;
border-radius: 0px 0px 5px 5px;
}
.document_head_list {
background-color: #809eb6;
border:1px solid #9dabb3;
height:26px;

}
.document_head_list td {
line-height:26px
}
.document_head_list_r_search {
background-color: #809eb6;
border:1px solid #FFFFFF;
height:36px;
-moz-border-radius:5px;
border-radius:5px;

}
.doc_bold {
font-weight:bolder;
color:#000000;
text-decoration:none;
}
.doc_bold2 {
font-weight:bolder;
color:#FFFFFF;
text-decoration:none;
-moz-border-radius-topright:5px;
-moz-border-radius-topleft:5px;
border-radius:5px;
}

.doc_bold3 {
font-size:11px;
font-weight:bolder;
color:#000000;
text-decoration:none;
}
.doc_small_ita {
font-size:9px;
font-style: italic;
color:#000000;
text-decoration:none;
}
.doc_small_ita_input {
font-size:10px;
color:#000000;
text-decoration:none;
}
.doc_link_simple {
color:#000000;
text-decoration:none;
}
.doc_link_standard {
font-weight:bolder;
color:#000000;
text-decoration:none;
}
.doc_link_inverse {
font-weight:bolder;
color:#000000;
text-decoration:none;
}
.doc_small {
font:6px ;
color:#000000;
text-decoration:none;
}

.sn_a_none {
text-decoration:none;
}

.montant_due {
color:#FF0000;
font-size:2em;

}

.doc_reglement_toto {
border:1px solid #FFFFFF;
background-color: #FFFFFF;
-moz-border-radius:5px;
border-radius:5px;
}
/* panier du moteur d'articles pour un document*/
.panier_line {
display: inline;
width:100%;
}
.panier_qte {
font-weight:bolder;
width:25px;
float:left;
text-align:center;
}

.panier_lib {
}
.panier_prix {
text-align:right;
width:75px;
float:right;
}

/* aspect de la saisie du drag and drop*/
.documents_li a{
color:#000000;
text-align:left;
cursor:pointer;
}
.documents_li_handle {
width:25px;
color:#000000;
text-align:left;
}
.documents_li_handle img {
cursor:move;
}

.reglement_line_valide {
color:#000000;
}
.reglement_line_unvalide {
color:#FF0000;
}

/* aspect lignes d'articles*/
.document_col_bord_left {
border-right:1px solid #FFFFFF;
}

.document_border_right {
border-right:1px solid #FFFFFF;
}

.document_box_head  {
border-top:1px solid #FFFFFF;
border-bottom:1px solid #FFFFFF;
border-left:1px solid #FFFFFF;
border-right:1px solid #FFFFFF;
background-color: #c2cfd7;
-moz-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
}

.document_border_topright_head_bold {
border-right:1px solid #FFFFFF;
-moz-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
font-weight:bolder;
color:#000000;
text-decoration:none;
}

.doc_head_bold {
font-weight:bolder;
color:#000000;
text-decoration:none;
}

.document_u_liste {
background-color: #c2cfd7;
}
#lignes li {
padding:0px;
border:0px;
}

.document_line {
padding:0px;
border:0px;
background-color: #c2cfd7;
border-left:1px solid #FFFFFF;
border-right:1px solid #FFFFFF;
}

/**/
.main_reglement_pay_mode {
background-color: #c2cfd7;
border:1px solid #9dabb3;
width:99%;
text-align:left;
padding:10px;
-moz-border-radius:10px;
border-radius:10px;
}

.document_box_head0  {
border-bottom:1px solid #9dabb3;
border-left:1px solid #9dabb3;
background-color: #c2cfd7;
}

/* affichage recherche*/

.r_doc_lib {
}

/* autocompleteur de sn*/
.choix_liste_choix_sn{ 
display: none; 
position:absolute;  
z-index:250;
width:99%;
height:200px;
border:1px solid #9dabb3;
background-color: #c2cfd7;
margin:0px; 
padding:0px; 
top: 19px;
left: 0px;
OVERFLOW-Y: auto;
OVERFLOW-X: hidden;
} 

iframe.choix_liste_choix_sn{ 
display: none; 
z-index:249; 
position:absolute;  
top: 19px; 
left: -1px;
width:99%; 
height:200px;
filter:alpha(opacity=0); 
-moz-opacity:.0;
opacity:.0; 
}

.more_sn_class {
text-decoration:underline;
cursor:pointer;
}
.more_sn_class_r {
text-decoration:underline;
cursor:pointer;
color:#FF0000;
}

.sn_block_choix {
position:relative; 
top:-21px; 
left:22px; 
width:145px;
height:0px;
}


.ref_fourn__choix {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
width:144px;
}
/*affichage des marges d'un document*/

.marge_lib {
float:left;
width:295px;
}
.marge_val {
float:left;
width:125px;
text-align:right;
padding-right:12px;
}
.marge_pc {
float:left;
width:125px;
text-align:right;
padding-right:12px;
}
.marge_graph {
float:left;
width:325px;
padding-left:20px;
line-height:20px;
height:20px;
vertical-align: middle;
}

.marge_graph div {
margin-top:4px;
width:100%;
height:8px;
line-height:8px;
text-align:left;
border:1px solid #E2D7A9;
background-color: #ECEDC9;
}

.marge_graph div div {
margin-top:0px;
height:8px;
border:0px;

}

.comm_lib {
float:left;
width:155px;
}
.comm_val {
float:left;
width:450px;
text-align:right;
padding-right:12px;
}
.comm_pc {
float:left;
width:125px;
text-align:right;
padding-right:12px;
}

/*détails des commissionnements commerciaux*/
.mini_moteur_comm {
width:760px; 
height:432px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:550;
border:1px ridge #9dabb3;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}

/*popup pour l'export*/
.mini_moteur_export {
width:400px; 
height:150px;
padding:10px;
position: absolute; 
top:0px;
left:0px;
z-index:550;
border:1px ridge #9dabb3;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}

/*popup pour l'export commerciaux*/
.mini_moteur_com {
width:300px; 
height:200px;
padding:10px;
position: absolute;
top:0px;
left:0px;
z-index:550;
border:1px ridge #9dabb3;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
}
.choix_commercial{ 
display: block; 
position:relative;  
z-index:250;
width:300px;
height:80px;
border:1px solid #c2cfd7;
background-color:#FFFFFF;
margin:0px; 
padding:0px; 
left: 0px;
overflow:auto;
} 
/*simule classinput_div contact doc*/
.doc_contact_class_input {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
width:99%;
cursor:text;
height:48px; overflow:auto;
font-size:12px;
}
.doc_livraison_class_input {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
width:99%;
cursor:text;
height:48px; overflow:auto;
font-size:12px;
}

/*bouton calculer*/

.document_calculer_livraison {
border:1px solid #9dabb3;
background-color: #CEE1A6;
width:145px;
height:30px;
line-height:30px;
font-size:16px;
font-weight:bolder;
-moz-border-radius:5px;
border-radius:5px;
cursor:pointer;
text-align:center;
float:left;
margin-left:95px;

}