/* CSS Document */
.bt_wysiwyg {
display:block;
width:25px;
height:21px;


}
.bt_wysiwyg:hover {
width:23px;
height:19px;
border:1px solid #0066CC;
background-color: #FDC879;


}

.barre_editeur {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
background-image:url(../images/_small_wysiwyg/editor-bg.gif);
width:100%;

}