/* CSS Document */



/* classes masquées*/
input.classinput_lsize_m {
margin-top:5px;
font: 0.8em Arial, Helvetica, sans-serif;
display:none;
width:84%;
}
input.classinput_xsize_m {
margin-top:5px;
font: 0.9em Arial, Helvetica, sans-serif;
display:none;
width:99%;
}
textarea.classinput_xsize_m {
margin-top:5px;
font: 0.9em Arial, Helvetica, sans-serif;
display:none;
width:99%;
}
select.classinput_xsize_m {
font: 0.9em Arial, Helvetica, sans-serif;
margin-top:5px;
display:none;
width:99%;
}



/* simulation de text	area 4 lignes*/
a.modif_textarea2{
font: 0.9em Arial, Helvetica, sans-serif;
color: #000000;
cursor:text;
padding:0px 3px;
text-decoration:none;
display:block;
width:97%;
}

a.modif_textarea2:hover{
padding:0px 4px;
border:0px solid #7f9db9;
background-color:#FFFF99;
}

/* simulation de text	area 2 lignes*/
a.modif_textarea3{
font: 0.9em Arial, Helvetica, sans-serif;
color: #000000;
cursor:text;
padding:0px 3px;
text-decoration:none;
display:block;
width:97%;
}

a.modif_textarea3:hover{
padding:0px 4px;
width:97%;
background-color:#FFFF99;
}
/* simulation de select*/
a.modif_select1 {
font: 0.9em Arial, Helvetica, sans-serif;
color: #000000;
cursor:text;
padding:0px 3px;
text-decoration:none;
display:block;
width:97%;
}

a.modif_select1:hover {
width:97%;
background-color:#FFFF99;
}


/* simulation de input*/
a.modif_input1 {
font: 0.9em Arial, Helvetica, sans-serif;
color: #000000;
cursor:text;
padding:0 4px 0 0;
text-decoration:none;
display:block;
width:97%;
}

a.modif_input1:hover {
padding:0 4px 0 0;
width:97%;
background-color:#FFFF99;
}

a.modif_input2 {
font: 1em Arial, Helvetica, sans-serif;
color: #000000;
cursor:text;
padding:0 4px 0 0;
text-decoration:none;
display:block;
width:84%;
}

a.modif_input2:hover {
padding:0px 4px 0 0;
width:84%;
background-color:#FFFF99;
}

