/* minimoteur de recherche en pop up*/
.popup,
.mini_moteur,
.mini_moteur_compte_compta,
.mini_moteur_add_compte_compta,
.mini_moteur_add_iframe,
.mini_moteur_comm,
.mini_moteur_export,
.mini_moteur_article_ref_externe,
.mini_moteur_iframe,
.compte_compta_verify,
.mini_moteur_doc,
.mini_moteur_doc_iframe,
.newmini_moteur_doc,
.mini_pop_up_fav,
.mini_pop_up_article_sn,
.lines_info_modeles_doc,
.lines_livraison_modes_doc,
.lines_liste_tva_doc{
padding:10px;
position: absolute; 
top:0px;
left:0px;
display:none;
border:1px ridge #9dabb3;
background-color:#FFFFFF;
-moz-border-radius:10px;
border-radius:10px;
max-height: 450px;
}

.popup, .mini_moteur{
    padding:2px 10px;
}
.headbar{
    height: 20px;
    width: 100%;
    background-color: #F0F0F0;
    /*cursor: move;*/
}
.popup_content{
    overflow: auto;
    height: 300px;
}

.mini_moteur{
    width:560px;
    height:352px;
    z-index:850;
}

.mini_moteur_compte_compta {
width:560px; 
height:432px;
}

.mini_moteur_add_compte_compta {
width:450px; 
height:140px;
z-index:900;
}

.mini_moteur_add_iframe {
width:100%; 
height:100%;
z-index:899;
background-color:#000000;
opacity:0.4;
filter:alpha(opacity=40);
}

/*détails des commissionnements commerciaux*/
.mini_moteur_comm {
width:760px;
height:432px;
z-index:550;
}

/*popup pour l'export*/
.mini_moteur_export {
width:400px;
height:150px;
z-index:550;
}

.mini_moteur_article_ref_externe {
width:760px; 
height:182px;
z-index:850;
}

.mini_moteur_iframe {
width:620px; 
height:450px;
z-index:849;
filter:alpha(opacity=0);
}

.compte_compta_verify {
width:500px; 
height:232px;
z-index:1100;
}

.corps_mini_moteur {
width:98%;
background-color:#dbe8f0;
border:1px solid #a3dbf4;
margin: auto;
margin-top: 3px;
}

.caract_recherche {
display:block;
width:100%;
}

.caract_simple {
padding-left:10px;
padding-right:10px;
}

.caract_simple li {
width:250px;
padding:3px;
margin:3px;
display:inline;
}

.carac_plus_moins {
color:#002673;
font-size:0.9em;
font-weight:bolder;
text-decoration:none;
}

.search_lib_carac {
width:110px;
color:#002673;
}

/*minimoteur recherche document*/
.mini_moteur_doc {
width:660px; 
height:352px;
z-index:850;
}

.mini_moteur_doc_iframe {
width:720px; 
height:450px;
z-index:849;
filter:alpha(opacity=0);
}

/*new doc minimoteur recherche document*/
.newmini_moteur_doc {
width:660px; 
height:172px;
z-index:452;
}

.newmini_moteur_doc_iframe {
width:720px; 
height:190px;
position: absolute; 
top:0px;
left:0px;
z-index:451;
display:none;
filter:alpha(opacity=0);
}

/* ajout favoris en pop up*/

.mini_pop_up_fav {
width:250px; 
height:252px;
z-index:850;
}

/* minimoteur de recherche en pop up*/

.mini_pop_up_article_sn {
width:860px; 
height:252px;
z-index:850;
}

.mini_pop_up_article_sn_iframe {
width:20px; 
height:30px;
position: absolute; 
top:0px;
left:0px;
z-index:849;
display:none;
filter:alpha(opacity=0);
}

.corps_mini_pop_up_article_sn {
width:100%;
background-color:#dbe8f0;
border:1px solid #a3dbf4;
margin:0;
}

/*insertion ligne informations dans documents*/
.lines_info_modeles_doc {
width:660px; 
height:372px;
z-index:452;
}

/*insertion ligne frais de port dans documents*/
.lines_livraison_modes_doc {
width:360px; 
height:302px;
z-index:452;
}

/*insertion ligne frais de port dans documents*/
.lines_liste_tva_doc {
width:360px; 
height:122px;
z-index:452;
}

