body {
	margin: 10px 0;
	padding: 0px;
	color: #000000;
	height:100%;
	font:11px Arial, Helvetica, sans-serif;
	background-color:#EEE;
	text-align:center;
}

.content {
	background-color: #FFF;
	margin: 0 auto;
	padding: 15px;
	text-align:left;
	font:11px Arial, Helvetica, sans-serif;
	width:800px;
	border: none;
	-moz-border-radius: 10px;
}

.entete{
	font-weight: bold;
	text-decoration: underline;
}

.pied{
}

a {
	color:#006ab3;
	text-decoration:underline;
}
