  /* ************ */
 /* fond_acceuil */
/* ************ */
.fond_acceuil{
	background-color: #d0cfdd;
}





  /* ********************** */
 /* grille_grand_conteneur */
/* ********************** */
.grille_grand_conteneur{
	background-color: #9695a5;
}




  /* ******************** */
 /* grille_titre_colonne */
/* ******************** */
.grille_titre_colonne{
	color: white;
	font-weight: bolder;
}




  /* ****************************** */
 /* grille_conteneur_EventsEtendus */
/* ****************************** */
.grille_conteneur_EventsEtendus{
	background-color: white;
}

.grille_conteneur_EventsEtendus table {
	width: 100%;
	border: 1px;
	cellpadding: 3;
	cellspacing: 0;
}

.grille_conteneur_EventsEtendus tr {
	
}

.grille_conteneur_EventsEtendus td {
	
}




  /* *********************** */
 /* grille_conteneur_grille */
/* *********************** */
.grille_conteneur_grille{
	background-color: white;
}




  /* ******************** */
 /* grille_colonne_heure */
/* ******************** */
.grille_colonne_heure {
	margin-top:1px;
}

.grille_colonne_heure tr{
	height: 20px; //HAUTEUR_DEMIE_HEURE
}

.grille_colonne_heure td{
	color: white;
	font-weight: bold;
}



  /* ********************* */
 /* cell_jour_mois_entete */
/* ********************* */
.cell_jour_mois_entete{
	font-weight				: bold;
	background-color	: #e1dff4;
	text-align				: right;
}






  /* ************************** */
 /* grille_colonne_num_semaine */
/* ************************** */
.grille_colonne_num_semaine {
	background-color	: #9695a5;
	min-width					: 60px;
	max-width					: 60px;
	vertical-align		: middle;
	font-size					: 26pt;
	font-weight				: bolder;
	color							: #dbdaec;
	text-align				: center;
}



  /* ******** */
 /* Div ZERO */
/* ******** */
#ZEROjour{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}

#ZEROsemaine{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}




  /* **************** */
 /* grilleDemieHeure */
/* **************** */
#grilleDemieHeure{
	background-color: white;
}

#grilleDemieHeure tr{
	height: 20px; //HAUTEUR_DEMIE_HEURE
}




  /* ************************************* */
 /* grille_colonne_jour_deb_heure */
/* ************************************* */
.grille_colonne_jour_deb_heure {
	border: solid;
	border-width: 0px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #cbcbe3;
	border-left: solid;
	border-left-width: 2px;
	border-left-color: #9695a5;
	border-color: 
}

.grille_colonne_jour_deb_heure_TODAY {
	border: solid;
	border-width: 0px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #cbcbe3;
	border-left: solid;
	border-left-width: 2px;
	border-left-color: #9695a5;
	background-color: #f3f3fb;

}

.grille_colonne_jour_fin_heure {
	border: solid;
	border-width: 0px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #eeedf5;
	border-left: solid;
	border-left-width: 2px;
	border-left-color: #9695a5;
}

.grille_colonne_jour_fin_heure_TODAY {
	border: solid;
	border-width: 0px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #eeedf5;
	border-left: solid;
	border-left-width: 2px;
	border-left-color: #9695a5;
	background-color: #f3f3fb;
}




  /* ***** */
 /* event */
/* ***** */
.event_div_principale {
	border: solid;
	border-width: 0px;
	position: absolute;
	position: absolute;
	cursor: pointer;
}

.event_div_titre_G {
	float: left;
	width: 80%;
	font-size: 9pt;
	font-family: arial;
	font-weight: bolder;
	color: white;
	cursor: move;
}

.event_div_titre_D {
	float: left;
	width: 20%;
	font-size: 9pt;
	font-family: arial;
	text-align: center;
	color: white;
	cursor: move;
}

.event_div_description {
	clear: both;
	width: 96%;
	border: solid;
	border-width: 0px;
	border-top-width: 1px;
	font-size: 9pt;
	font-family: arial;
	font: monospace;
	text-align: justify;
	color: white;
	padding: 2%;
	cursor: pointer;
}

.event_div_edition_zone {
	position: relative;
	top: -7px;
	height: 7px;
	left: 0px; //
	background-color: black;
	cursor: n-resize;
}


.Evenement_etendu_DIV {
	-moz-border-radius: 3px;
	width: 100%;
	height: 100%;
}




  /* ******* */
 /* horloge */
/* ******* */
.horloge {
	color: black;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
}



  /* *************** */
 /* panneau_agendas */
/* *************** */
.panneau_agendas_titre {
	color: #778899;
	font-weight: bold;
	cursor: pointer;
}

.panneau_agendas_cell_mini{
	-moz-border-radius: 3px;
	cursor: pointer;
	height: 100%;
	border: 1px solid;
	border-color: white;
}

.panneau_agendas_cell{
	-moz-border-radius	: 3px;
	cursor							: pointer;
	height							: 100%;
	border							: 1px solid;
	border-color				: #9794a5;
	background-color		: white;
}

.panneau_agendas_enable_text {
	margin-left: 3px;
	margin-right: 3px;
	color: #778899;
	font-weight: bold;
	font-size: 9pt;
}

.panneau_agendas_disable_text {
	margin-left: 3px;
	margin-right: 3px;
	color: #c0c0c0;
	font-weight: bold;
	font-size: 9pt;
}




  /* *************** */
 /* mini_calendrier */
/* *************** */
.mini_calendrier_Jsemaine {
	text-align: center;
	color: #3d3c48;
	font-size: 7pt;
	font-weight: bolder;
}

.mini_calendrier_weekend {
	text-align: center;
	color: #708090;
	font-size: 7pt;
	font-weight: bold;
}

.mini_calendrier_now_chiffre{
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: white;
	background-color	: #cfcfdc;
	border						: 1px solid;
	border-color			: #e6e6fa;
	background-image	: url('../images/carre_vert.gif');
	background-repeat	: repeat-x;
}

.mini_calendrier_Jsemaine_chiffre {
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size 				: 9pt;
	font-weight 			: bold;
	color							: #3d3c48;
	background-color	: #cfcfdc;
	border						: 1px solid;
	border-color			: #e6e6fa;
	
}

.mini_calendrier_Jsemaine_chiffre_hors_mois {
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: #778899;
	background-color	: #cfcfdc;
	border						: 1px solid;
	border-color			: #e6e6fa;
}

.mini_calendrier_weekend_chiffre{
	cursor						: pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: #3d3c48;
	background-color	: #dddde7;
	border						: 1px solid;
	border-color			: #e6e6fa;
}

.mini_calendrier_weekend_chiffre_hors_mois{
	cursor						:	pointer;
	text-align				: center;
	vertical-align		: middle;
	font-size					: 9pt;
	font-weight				: bold;
	color							: #778899;
	background-color	: #dddde7;
	border						: 1px solid;
	border-color			: #e6e6fa;
}

.mini_calendrier_mois{
	color: #2f4f4f;
	font-size : 10pt;
	font-weight : bold;
}



  /* ********************* */
 /* panneau_edition_event */
/* ********************* */
.panneau_edition_event_titre {
	color: #9595a5;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	height: 25px;
}

.panneau_edition_event_titre2 {
	color: #000000;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	height: 25px;
}

.panneau_edition_event_separateur{
	border-top-width : 1px;
	border-top-color : #6a697d;
	border-top-style : solid;
}

.panneau_edition_event_ligne{
	vertical-align: top;
	height: 25px;
}

.panneau_edition_event_ligne_date{
	vertical-align: middle;
	text-align: left;
}




  /* **************** */
 /* barre_navigation */
/* **************** */
.barre_navigation_bt_precedent{
	background-image			:url('../images/bt_next_left_bleu_fonce.gif');
	background-position		:top right;
	background-repeat			:no-repeat;
	cursor								:pointer;
	color									:white;
	text-align						:center;
	vertical-align				:middle;
	width									:50px;
}

.barre_navigation_bt_suivant{
	background-image		:url('../images/bt_next_right_bleu_fonce.gif');
	background-position	:top left;
	background-repeat		:no-repeat;
	cursor							:pointer;
	color								:white;
	text-align					:center;
	vertical-align			:middle;
	height							:27px;
	width								:50px;
}

.barre_navigation_bt_short{
	background-image		:url('../images/bt_short.gif');
	background-position	:top center;
	background-repeat		:no-repeat;
	cursor							:pointer;
	color								:white;
	text-align					:center;
	vertical-align			:middle;
	height							:27px;
	width								:77px;
}

.barre_navigation_bt_short_selected{
	background-image		:url('../images/bt_short_selected.gif');
	background-position	:top center;
	background-repeat		:no-repeat;
	cursor							:pointer;
	color								:white;
	text-align					:center;
	vertical-align			:middle;
	height							:27px;
	width								:77px;
}

.barre_navigation_bt_long{
	background-image		:url('../images/bt_long.gif');
	background-position	:top center;
	background-repeat		:no-repeat;
	cursor							:pointer;
	color								:white;
	text-align					:center;
	vertical-align			:middle;
	height							:27px;
	width								:104px;
}

.barre_navigation_bt_long_selected{
	background-image		:url('../images/bt_long_selected.gif');
	background-position	:top center;
	background-repeat		:no-repeat;
	cursor							:pointer;
	color								:white;
	text-align					:center;
	vertical-align			:middle;
	height							:27px;
	width								:104px;
}



  /* ********************* */
 /* Sélection des Agendas */
/* ********************* */
.pop_up_selection_agendas {
	padding:	5px;
	position:	absolute; 
	width:	700px;
	height:	480px;
	z-index:	852;
	border:	1px ridge #9dabb3;
	background-color:	#ffffff;
	-moz-border-radius:	10px;
	border-radius:	10px;
	OVERFLOW-Y:	auto;
	OVERFLOW-X:	auto;
}



  /* ************************ */
 /* Sélection des Evénements */
/* ************************ */
.pop_up_selection_types_events {
	padding:	5px;
	position:	absolute; 
	width:	700px;
	height:	480px;
	z-index:	852;
	border:	1px ridge #9dabb3;
	background-color:	#ffffff;
	-moz-border-radius:	10px;
	border-radius:	10px;
	OVERFLOW-Y:	auto;
	OVERFLOW-X:	auto;
}




  /* **************************** */
 /* view_month_a_few_events_of_day */
/* **************************** */
.view_month_a_few_events_of_day_grand_conteneur{
	position						: relative;
	background-color		: white;
	border							: 1px solid #cccccc;
	width								: 100%;
	height							: 100%
}

.view_month_a_few_events_of_day_titre{
	padding-left				: 8px;
	padding-right				: 8px;
	background-color		: #e1dff4;
	font-weight					: bolder;
	border-bottom				: 1px solid #cccccc;
	white-space					: nowrap;
	text-align					: right;
	color								: #3e3d4b;
}

.view_month_a_few_events_of_day_titre_out_of_month{
	padding-left				: 8px;
	padding-right				: 8px;
	background-color		: #e1dff4;
	font-weight					: bolder;
	border-bottom				: 1px solid #cccccc;
	white-space					: nowrap;
	text-align					: right;
	color								: #7b7a8a;
}


.view_month_a_few_events_of_day_contenu{
	padding-left				: 8px;
	padding-right				: 8px;	
}

.view_month_a_few_events_of_day_contenu tr{ }
.view_month_a_few_events_of_day_contenu td{ }




  /* **************************** */
 /* view_month_all_events_of_day */
/* **************************** */
.view_month_all_events_of_day_grand_conteneur{
	position						: absolute;
	z-index							: 1000;
	background-color		: white;
	-moz-border-radius	: 10px;
	border							: 1px solid #cccccc;
}

.view_month_all_events_of_day_titre{
	padding-left				: 16px;
	padding-right				: 16px;
	background-color		: #e1dff4;
	-moz-border-radius	: 10px 10px 0px 0px;
	border-bottom				: 1px solid #cccccc;
	white-space					: nowrap;
	text-align					: center;
	color								: #3e3d4b;
	font-weight					: bolder;
}

.view_month_all_events_of_day_titre_out_of_month{
	padding-left				: 16px;
	padding-right				: 16px;
	background-color		: #e1dff4;
	-moz-border-radius	: 10px 10px 0px 0px;
	border-bottom				: 1px solid #cccccc;
	white-space					: nowrap;
	text-align					: center;
	color								: #7b7a8a;
	font-weight					: bolder;
}

.view_month_all_events_of_day_contenu{
	padding-left				: 8px;
	padding-right				: 8px;	
}
.view_month_all_events_of_day_contenu tr{ }
.view_month_all_events_of_day_contenu td{ }
