/* CSS Document */
html,body {
margin: 0;
padding: 0;
height:100%;
background-color: #FFFFFF;
}

body, td, th, p {
font: 0.9em Arial, Helvetica, sans-serif;
}

form {
padding:0;
margin:0;
}

table {
margin:0;
padding:0;
}
td {
vertical-align:top;
}


dl, dt, dd, ul, li {
margin: 0;
padding: 0;
list-style-type: none;
}

img {
border:0px;
vertical-align:middle
}

.conteneur {
}
/*body {
margin: 10px 0 ;
padding: 0px;
color: #000000;
height:100%;
font:11px Arial, Helvetica, sans-serif;
background-color:#DDDDDD;
text-align:center;
}
.conteneur {
background-color:#FFFFFF;
margin: 0 auto ;
border:1px solid #666666;
text-align:left;
display: inline-table;
font:11px Arial, Helvetica, sans-serif;
width:950px;
}*/


.para {
background-color: #a9a9a9;
width:100%;
}

/*entete*/
#header {
height: 140px;
}

#header .main_table{
height: 140px;
}

#logo_lmb{
vertical-align:bottom;
text-align:right;
}

#rechercher_simple_entete{
height: 31px;
width:362px;
vertical-align:bottom;
text-align:right;
}

.bg_ico_panier{
height:109px;
line-height:109px;
text-align:center;
background: url(../images/_bg_icopanier.gif)  repeat-x 0 0 ;
background-color:#FFFFFF;
}

.texte_pied_page {
background: url(../images/arriere_plan_pied.jpg)  repeat-x 0 0 ;
background-color:#a8a8a8;
text-align:center;
font:12px Arial, Helvetica, sans-serif;
padding-top: 15px;
padding-bottom: 15px;
}

.price_smaller {
font:12px Arial, Helvetica, sans-serif;
font-weight:bolder;
}
.price_bigger {
font:14px Arial, Helvetica, sans-serif;
font-weight:bolder;
}


.liens_bas_page {
text-align:center;
font: 12px Arial, Helvetica, sans-serif;
}
.liens_bas_page a {
text-decoration:none;
color:#999999;
padding-left:25px; padding-right: 25px;
}


/* menu principal*/
#menu_principal {
	height: 31px ;
	line-height:31px;
	width:100%;
	background-color:#e6e3e4;
	margin-bottom:8px;
}

#menu_principal table td  {
}

#menu_principal table td div {
	height: 28px ;
	line-height:28px;
	width:100%;
	background: url(../images/arriere_plan_menu.jpg)  repeat-x 0 0 ;
	border-bottom:1px solid #FFFFFF;
}


ul#menu
{
	height: 28px ;
	line-height:28px;
	margin: 0 ;
	padding: 0 ;
	width:730px;
	background-color:#e6e3e4;
	list-style-type: none ;
	background: url(../images/arriere_plan_menu.jpg)  repeat-x 0 0 ;
	border-bottom:1px solid #FFFFFF;
}

ul#menu li
{
	float: left ;
	text-align: center ;
	margin-left: 5px;
}

ul#menu li a
{
	width: 135px ;
	line-height: 25px ;
	font-size: 1em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	padding-top:3px;
	color: #000 ;
	display: block ;
	text-decoration: none ;
	background: url(../images/arriere_plan_btmenu.gif)  ;
	background-position: 0px 4px;
	background-repeat:no-repeat;
}

ul#menu li a:hover
{
}


.emarge {
padding:0 15px;
}

/*contenu*/

.classinput_xsize {
	margin:0;
	border:1px solid #c9c9c9;
	background-color:#FFFFFF;
	width:99%;
}

.nom_utilisateur { 
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:25px;
	font-weight:bolder;
	height: 25px ;
	line-height:25px;
}

.end_menu {
	height: 25px ;
	line-height:25px;
	float:right;
	font:11px Arial, Helvetica, sans-serif;
	text-align:right;
	padding-right:25px;
	font-weight:bolder;
}

.end_menu span {
	cursor:pointer;
	height: 25px ;
	font:11px Arial, Helvetica, sans-serif;
	line-height:25px;
	text-decoration:underline;
}

.prix_unitaire div{
text-align:right;
font-weight:bolder;
color:#707070;
}



#conteneur_principal {
	background-color:#e9e9e9;
	background: url(../images/arriere_plan_principal.gif) repeat  ;
}

#liste_categories_articles {
	float:left;
	width:24%;
}
#liste_categories_articles ul {
padding-left:20px;
padding-right:20px;
}
#liste_categories_articles ul li {
height:20px;
line-height:20px;
}

.liste_resultat_articles {
width:75%;
	background-color:#FFFFFF;
}

.lightbg_liste {
background-color:#FFFFFF;
}

.lightbg_liste1 {
	background-color:#FFFFFF;
	width:20px;
	height:20px;
	background: url(../images/angle_img_list1.gif) no-repeat  ;
}

.lightbg_liste2 {
	background-color:#FFFFFF;
	width:20px;
	height:20px;
	background: url(../images/angle_img_list2.gif)  no-repeat  ;
	background-position:right top;
}
.lightbg_liste3 {
	background-color:#FFFFFF;
	width:20px;
	height:20px;
	background: url(../images/angle_img_list3.gif)  no-repeat  ;
	background-position: right bottom;
}
.lightbg_liste4 {
	background-color:#FFFFFF;
	width:20px;
	height:20px;
	background: url(../images/angle_img_list4.gif)  no-repeat  ;
	background-position:left bottom;
}

.vide_categ{
background:none;
}

.main_categ{
background: url(../images/liste_categ_head_1.gif)  no-repeat  ;
background-color:#FFFFFF;
}

.main_categ2{
background: url(../images/liste_categ_head_2.gif)  no-repeat  ;
background-position:right top;
float:right;
width:5px;
height:5px;
}

.main_categ a{
padding-left:5px;
text-decoration:none;
font:12px Arial, Helvetica, sans-serif;
font-weight:bolder;
color:#000000;
}

.sub_categ{
background-color:#636363;
}
.sub_categ a{
padding-left:5px;
text-decoration:none;
font:11px Arial, Helvetica, sans-serif;
font-weight:bolder;
color:#FFFFFF;
}

.sub_categ3{
background: url(../images/liste_categ_foot_4.gif)  no-repeat  ;
background-position:right bottom;
background-color:#636363;
}

.sub_categ3 div{
background: url(../images/liste_categ_foot_3.gif)  no-repeat  ;
background-position:left bottom;
float:left;
height:20px;
}

.sub_categ3 a{
padding-left:5px;
text-decoration:none;
font:11px Arial, Helvetica, sans-serif;
font-weight:bolder;
color:#FFFFFF;
}


.art_img_cadre td {
color:#000000;
}
.art_img_cadre1 {
	width:6px;
	height:6px;
	background: url(../images/angle_img_art1.gif) no-repeat  ;
}
.art_img_cadre2 {
	width:6px;
	height:6px;
	background: url(../images/angle_img_art2.gif) no-repeat  ;
	background-position:right;
}
.art_img_cadre3 {
	width:6px;
	height:6px;
	background: url(../images/angle_img_art3.gif) no-repeat  ;
	background-position: left bottom;
}
.art_img_cadre4 {
	width:6px;
	height:6px;
	background: url(../images/angle_img_art4.gif) no-repeat  ;
	background-position: right bottom;
}
.art_img_cadrea {
border-top-color:#e7e7e7;
border-top-style:solid;
border-top-width:1px;
background-color:#FFFFFF;

}
.art_img_cadreb {
background-color:#FFFFFF;
border-left:1px solid #e7e7e7;
}
.art_img_cadrec {
background-color:#FFFFFF;
border-right:1px solid #e7e7e7;
}
.art_img_cadred {
background-color:#FFFFFF;
border-bottom:1px solid #e7e7e7;
}
.art_img_cadree {
text-align:center; 
background-color:#FFFFFF;
}

.input_add_panier{
text-align:center;
border:1px solid #999999;
}

.recherche_a_table {
height:28px;
line-height:28px;
}
.recherche_a_table td {
height:28px;
line-height:28px;
vertical-align:middle
}
.recherche_a_table td .libelle_recherche_a {
font-weight:bolder
}
.recherche_a_table td input {
vertical-align:middle;
border:1px solid #999999;
width:180px;
margin-left:25px; 
margin-right:35px;
}
.recherche_a_table td select {
vertical-align:middle;
border:1px solid #999999;
width:180px;
margin-left:25px; 
margin-right:35px;
}

/*/*/a{}
body,
body td,
body th,
body p {
  font-size: x-small;
  voice-family: "\"}\"";
  voice-family: inherit;
  font-size: small;
}
html>body,
html>body td,
html>body th
html>body p {
  font-size: small;
}  
/* */

#panier {
position: absolute;
top:28px; 
left: 0px;
width: 285px;
z-index:852;
border:1px solid #999999;
background-color: #e9e9e9;
}

ul#lignes {

}

ul#lignes  li {
width:100%;
background-image:none;

}

ul#lignes  li a {
background-image:none;
}

/**/
.img_accueil {
vertical-align:top;
padding-left:25px;
padding-right:25px;
cursor:pointer;

}


/**/
.infos_entreprise{
float:left;
width:100%;
font:12px Arial, Helvetica, sans-serif;
text-align: left;
}

.nom_societe_interne{
color:#999999;
font:16px Arial, Helvetica, sans-serif;
text-align:left;
font-weight:bolder;
}
.coordonnees {
width:50%;
text-align:left;

}
.infos_coord {
color:#999999;
font:14px Arial, Helvetica, sans-serif;
text-align:left;

}
.dark_text {
font-weight:bolder;
color:#000000;
}
.title_contact{
font:18px Arial, Helvetica, sans-serif;
font-weight:bolder;
color:#FFFFFF;
}
.lib_contact {
font-weight:bolder;
color:#000000;
width:125px;
}
.inp_contact {
width:325px;
}

/**/
.main_info_user {
font:12px Arial, Helvetica, sans-serif;
font-weight:bolder;
color:#000000;
}
.text_variable_user {
width:290px;
color:#000000;
}
.text_variable {
width:150px; 
vertical-align:top;
color:#999999;
}


.title_content{
font:14px Arial, Helvetica, sans-serif;
font-weight:bolder;
color:#000000;
}



.doc_titre_img_cadre1 {
	background-color:#ffffff;
	width:5px;
	height:5px; line-height:5px;
	background: url(../images/liste_categ_head_1.gif) no-repeat  ;
}
.doc_titre_img_cadre2 {
	background-color:#ffffff;
	width:5px;
	height:5px; line-height:5px;
	background: url(../images/liste_categ_head_2.gif) no-repeat  ;
	background-position:right;
}
.doc_titre_img_cadre3 {
	background-color:#ffffff;
	width:5px;
	height:5px; line-height:5px;
	background: url(../images/liste_categ_head_3.gif) no-repeat  ;
	background-position: left bottom;
}
.doc_titre_img_cadre4 {
background-color:#FFFFFF;
	width:5px;
	height:5px; line-height:5px;
	background: url(../images/liste_categ_head_4.gif) no-repeat  ;
	background-position: right bottom;
}


.doc_img_cadre1 {
	background-color:#636363;
	width:5px;
	height:5px;
	background: url(../images/liste_categ_foot_1.gif) no-repeat  ;
}
.doc_img_cadre2 {
	background-color:#636363;
	width:5px;
	height:5px;
	background: url(../images/liste_categ_foot_2.gif) no-repeat  ;
	background-position:right;
}
.doc_img_cadre3 {
	background-color:#636363;
	width:5px;
	height:5px;
	background: url(../images/liste_categ_foot_3.gif) no-repeat  ;
	background-position: left bottom;
}
.doc_img_cadre4 {
	background-color:#636363;
	width:5px;
	height:5px;
	background: url(../images/liste_categ_foot_4.gif) no-repeat  ;
	background-position: right bottom;
}

.doc_intit_colors {
color:#000000;
font-weight:bolder
}
.doc_infos_colors {
color:#000000;
}



.panier_text_etape {
background-color:#FFFFFF;
font:10px Arial, Helvetica, sans-serif;
color:#000000;
text-align:center;
}

.panier_line_etape {
background-color:#FFFFFF;
font:10px Arial, Helvetica, sans-serif;
color:#000000;
text-align:center;
background: url(../images/panier_line_progress.gif) repeat-x  ;
}

