
.catalogue {
font:12px Arial, Helvetica, sans-serif;
color:#000000;
}
.catalogue a {
color: #666666;
text-decoration:underline;

}
.catalogue a:hover {
color:#333333;
text-decoration:underline;

}

.titre {
font: 1.6em  Arial, Helvetica, sans-serif ;
font-weight:bolder;
color: #002673;
line-height: 45px;
}

.titre a {
color: #002673;
}

/*formulaire de recherche*/

#resultat {
margin:5px 0px;

}

#affresult {
margin:3px 0px;
padding:0;
text-align:center;
height: 18px;
border-bottom:2px solid #dbe8f0;
background-color:#EEEEEE;
}
#nvbar a{
padding:3px 0 0 0 ;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
#nvbar a.off{
font-weight:bold;
text-decoration:none;
color:#000000;
}

#tableresult {
width:100%
}
.mt_size_optimise {
height: 0%;
}
#tableresult a {
text-decoration:none;
color:#000000
}

#tableresult td {
color:#000000;
}



.radius_main {
border:1px solid #aaaaaa ;
padding:15px;
background-color:#FFFFFF;
-moz-border-radius:15px;
border-radius:15px;
display:block;
}

.top_log {
color:#CCCCCC;
font:24px Arial, Helvetica, sans-serif;
}

.bt_connex {
border:1px solid #999999;
width:165px;
height:32px;
font:19px Arial, Helvetica, sans-serif;
text-align:left;
padding-left:15px;
-moz-border-radius:9px;
border-radius:9px;
background-color:#FFFFFF;
background-image:url(../images/bt_next.gif);
background-position:right;
background-repeat:no-repeat;
}

/**/
.para_accueil {
text-align:center;
background-image:url(../images/ar_p_para_accueil.gif);
background-position:right;
background-repeat:repeat-x;
height:117px;
line-height:117px;
}

/* texte de resultat  de recherche d'article*/

.lib_categorie {
font:0.8em Arial, Helvetica, sans-serif;
color:#CCCCCC;
}
.lib_constructor {
color:#CCCCCC;
font:0.8em Arial, Helvetica, sans-serif;
}
.reference  {
font:0.8em Arial, Helvetica, sans-serif;
}
.reference a {
font:0.8em Arial, Helvetica, sans-serif;
}

.r_art_lib{
color:#535353;
font-size:11px;
font-weight:bolder;
text-align:left;
}

.r_art_desc_courte{
text-align:left;
color:#bfbfbf;
}

.reference{
text-align:center;
color:#bfbfbf;
}
/* autocompleteur de ville*/
.choix_complete_ville{ 
display: none; 
position:absolute;  
z-index:250;
width:99%;
height:250px;
border:1px solid #c2cfd7;
background-color:#FFFFFF;
margin:0px; 
padding:0px; 
top: 19px;
left: 0px;
overflow:auto;
} 

iframe.choix_complete_ville{ 
display: none; 
z-index:249; 
position:absolute;  
top: 19px; 
left: -1px;
width:99%; 
height:350px;
filter:alpha(opacity=0); 
-moz-opacity:.0;
opacity:.0; 
}

ul.complete_ville { 
list-style-type: none; 
margin:0px; 
padding:0px;
width:99%; 
text-align: left; 
} 
li.complete_ville { 
cursor:pointer;
list-style-type: none; 
margin:0; 
padding:2px; 
width:99%; 
height:18px; 
} 
li.complete_ville_hover{ 
cursor:pointer;
list-style-type: none; 
margin:0; 
padding:2px; 
width:99%; 
height:18px; 
background-color: #c2cfd7;
}

/*infos socièté*/

.alerteform_xsize {
background-color:#FFcccc;
border:1px solid #809eb6;
font: 12px Arial, Helvetica, sans-serif;
width:99%;
}
select.alerteform_xsize {
background-color:#FFcccc;
border:1px solid #809eb6;
font: 12px Arial, Helvetica, sans-serif;
width:99%;
}
.alerteform_lsize {
background-color:#FFcccc;
border:1px solid #809eb6;
font: 12px Arial, Helvetica, sans-serif;
width:82%;
}

.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
width:99%;
}
input.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
width:99%;
}

input.classinput_lsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
width:82%;
}

textarea.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
width:99%;
}

select.classinput_xsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
width:99%;
}

select.classinput_lsize {
margin:0;
border:1px solid #809eb6;
background-color:#FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
width:90%;
}

.sous_titre1 {
font: 14px Arial, Helvetica, sans-serif ;
color: #666666;
height:24px;
line-height: 24px;
text-align:left;
border-bottom:1px solid #666666;
font-weight:bolder;
}

.minimizetable {
width: 500px;
}
.minimizetable table {
width:100%;
}
.minimizetable td {
vertical-align:top;
}
.max96pc {
width:96%;
}
td.ctpc {
width:50%;
}
td.xxxpc {
width:30%;
}

table.size_strict {
width:100%;
}

#imgsizeform {
float:left;
height:1px;
width:100%;
vertical-align: top;
}

td.size_strict {
width:120px;
}

.smallheight {
font-size:1px;
line-height:1px;
height:1px;
}


.focusinput_xsize:focus {
background-color: #FFFFCC;
border:1px solid #707070;
color:#707070;
font: 12px Arial, Helvetica, sans-serif;
width:165px;
}
select.focusform_xsize {
background-color:#FFFFCC;
border:1px solid #707070;
color:#707070;
font: 12px Arial, Helvetica, sans-serif;
width:165px;
}

.focusinput_xsize {
margin:0;
font: 12px Arial, Helvetica, sans-serif;
border:1px solid #707070;
color:#707070;
background-color:#FFFFFF;
width:165px;
}
input.focusinput_xsize {
margin:0;
border:1px solid #707070;
background-color:#FFFFFF;
color:#707070;
font: 12px Arial, Helvetica, sans-serif;
width:165px;
}

select.focusinput_xsize {
margin:0;
border:1px solid #707070;
color:#707070;
background-color:#FFFFFF;
font: 12px Arial, Helvetica, sans-serif;
width:165px;
}