
.alerteform_xsize {
background-color:#FF0000;
width:99%;
}
select.alerteform_xsize {
background-color:#FF0000;
width:99%;
}
.alerteform_lsize {
background-color:#FF0000;
width:82%;
}

.classinput_xsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
width:99%;
}
input.classinput_xsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}

input.classinput_lsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:82%;
}

textarea.classinput_xsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}
select.classinput_xsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:99%;
}
select.classinput_lsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:90%;
}
/*
champ de formulaire à 50% et champs erreurs de saisie 50% 
*/


.alerteform_hsize {
background-color:#FF0000;
width:49%;
}
select.alerteform_hsize {
background-color:#FF0000;
width:49%;
}

input.classinput_hsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:49%;
}

textarea.classinput_hsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:49%;
}

select.classinput_hsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 1em Arial, Helvetica, sans-serif;
width:49%;
}
/*
champ de formulaire sans largeur et champs erreurs 
*/


.alerteform_nsize {
background-color:#FF0000;
}
select.alerteform_nsize {
background-color:#FF0000;
}

input.classinput_nsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}

textarea.classinput_nsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}

select.classinput_nsize {
margin:0;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
}




/*formulaire de recherche*/
#recherche span.labelled {
color:#002673;
display:block;
margin-top:4px;
}

#recherche td {
text-align: left;
}

.corps_moteur {
background-color:#dbe8f0;
border:1px solid #a3dbf4;
margin:0;
}


#resultat {
margin:5px 0px;

}

#affresult {
margin:3px 0px;
padding:0;
text-align:center;
height: 18px;
border-bottom:2px solid #dbe8f0;
background-color:#EEEEEE;
}
#nvbar a{
padding:3px 0 0 0 ;
font-weight:lighter;
text-decoration:none;
color:#000000;
}
#nvbar a.off{
font-weight:bold;
text-decoration:none;
color:#000000;
}

#tableresult {
width:100%
}
.mt_size_optimise {
height: 0%;
}
#tableresult a {
text-decoration:none;
color:#000000
}

#tableresult td {
color:#000000;
}

.colorise0 {
height:25px;
line-height:25px;
background-color:#eeeeee;
}
.colorise0 td {
font-weight: bolder;
vertical-align:middle;
}

.colorise0_debut{
	background: url(../images/arrondis_barre_resultat1.gif) no-repeat  ;
background-color:#eeeeee;
}
.colorise0_fin{
	background: url(../images/arrondis_barre_resultat2.gif) no-repeat  ;
	background-position:right;
background-color:#eeeeee;
}

.colorise1 {
height:95px;
line-height:95px;
background-color:#FFFFFF;
}

.colorise1:hover {
background-color: #ededed;
}

.colorise1 td{
font:0.9em Arial, Helvetica, sans-serif;
vertical-align:middle;
}
.colorise2 {
height:95px;
line-height:95px;
background-color:#FFFFFF;
}

.colorise2:hover {
background-color: #ededed;
}
.colorise2 td{
font:0.9em Arial, Helvetica, sans-serif;
vertical-align:middle;
}

.colorise_td_deco {
border-bottom:1px dotted #CCCCCC;
}


/* definition de tag */


.labelled_text {
color:#002673;
font:0.9em Arial, Helvetica, sans-serif;
}
.labelled_bold {
color:#002673;
font:0.9em bolder Arial, Helvetica, sans-serif;
font-weight:bolder;
}

.labelled {
color:#002673;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 115px;
display:block;
padding: 0px;
margin-top:0px;
}


.labelled_right {
color:#002673;
text-align: right;
font:0.9em Arial, Helvetica, sans-serif;
width: 115px;
display:block;
padding-right:5px;
margin-top:0px;
}

.labelled_ralonger {
color:#002673;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 180px;
display:block;
padding: 0px;
margin-top:0px;
}

.labelled_court {
color:#002673;
text-align: left;
font:0.9em Arial, Helvetica, sans-serif;
width: 120px;
display:block;
padding: 0px;
margin-top:0px;
}

/* menu horizontaux principaux*/
.menu {
margin:3px 0px;
padding:0;
list-style-type:none;
text-align:left;
height: 18px;
border-bottom:2px solid #dbe8f0;
background-color:#EEEEEE;
}
.menu li {
display:inline;
float:left;
}
.menu_unselect {
text-decoration:none;
color:#002673;
background-color:#EEEEEE;
display:block;
padding:0 20px;
text-align:center;
line-height:18px;
}
.menu_select {
text-decoration:none;
font-weight:bold;
color:#002673;
background-color:#dbe8f0;
padding:0 20px;
display:block;
text-align:center;
line-height:18px;
}
/* menu horizontaux secondaires*/
.menu_sec {
margin:3px 0px;
padding:0;
list-style-type:none;
text-align:left;
height: 18px;
border-bottom:2px solid #c2cfd7;
background-color:#afc5d2;
}
.menu_sec li {
display:inline;
float:left;
}
.menu_sec_unselect {
text-decoration:none;
color:#000000;
background-color:#afc5d2;
display:block;
padding:0 10px;
text-align:center;
line-height:18px;
}
.menu_sec_select {
text-decoration:none;
color:#000000;
background-color:#c2cfd7;
padding:0 10px;
display:block;
text-align:center;
line-height:18px;
}

/* contact de l'annuaire */


.contactview_corps {
background-color:#dbe8f0;
border:1px solid #a3dbf4;
margin:0;
}

.infotable_bg {
padding:8px; width:330px; background-color:#afc5d2;
}

.infotable {
border:1px solid #9dabb3;
background-color:#c2cfd7;
}
.infotable_form {
margin:3px;
border:1px solid #9dabb3;
background-color:#c2cfd7;
}


.minimizetable {
width: 100%;
}
.minimizetable table {
width:100%;
}
.minimizetable td {
vertical-align:top;
}
.max96pc {
width:96%;
}
td.ctpc {
width:50%;
}
td.xxxpc {
width:30%;
}

table.size_strict {
width:100%;
}

#imgsizeform {
float:left;
height:1px;
width:100%;
vertical-align: top;
}

td.size_strict {
width:120px;
}

.smallheight {
font-size:1px;
line-height:1px;
height:1px;
}

/* simule d'un champ*/
.simule_champs {
margin:0;
display:block;
border:1px solid #c9c9c9;
background-color:#FFFFFF;
font: 0.9em Arial, Helvetica, sans-serif;
width:100%;
height:18px;
}
.simule_champs_alerte {
margin:0;
display:block;
border:1px solid #c9c9c9;
background-color:#FF0000;
font: 0.9em Arial, Helvetica, sans-serif;
width:100%;
height:18px;
}

.simule_champs a {
display:block;
color:#000000;
text-decoration: none;
cursor: default;
}


.simule_champ_content{
}
.simule_champ_content tr {
height:18px;
}
.simule_champ_content td {
line-height:18px;
height:18px;
color:#000000;
text-decoration: none;
font: Arial, Helvetica, sans-serif;
}
.choix_etat {
text-decoration:none;
padding-left:10px;
padding-right:10px;
cursor:pointer;
display:block;
}
.choix_etat:hover{
background-color:#CCCCCC;
padding-left:10px;
padding-right:10px;
cursor:pointer;
display:block;

}


/* edition d'une tache*/

.edition_tache {
padding:5px;
position: absolute; 
width: 850px;
height:400px;
z-index:852;
border:4px ridge #a3dbf4;
background-color:#dbe8f0;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.edition_tache_iframe {
position: absolute; 
width: 850px;
height:400px;
z-index:851;
filter:alpha(opacity=0);

}/* edition d'un reglement*/

.edition_reglement {
padding:5px;
position: absolute; 
width: 850px;
height:400px;
z-index:852;
border:4px ridge #a3dbf4;
background-color:#dbe8f0;
OVERFLOW-Y: auto; OVERFLOW-X: auto;
}

.edition_reglement_iframe {
position: absolute; 
width: 850px;
height:400px;
z-index:851;
filter:alpha(opacity=0);
}


/**/
.input_rechercher_top {
width:306px;
height:23px;
border:0px;
border-bottom:2px solid #c9c9c9;
border-top:2px solid #c9c9c9;
margin:0px;
font-size:14px;

padding:2px;
}

.recherche_s_tableau{
vertical-align:top;
padding:0px;
margin:0px;
height:31px;
}

.recherche_s_border {
width:270px;
height:31px;
line-height:31px;
padding:2px;
}